{% extends 'simulation/base.html' %} {% load static %} {% block title %}Home |
Arbitrage{% endblock %} {% block content %}
<div class="hero min-h-[70vh] bg-base-200 rounded-box">
  <div class="hero-content text-center">
    <div class="flex flex-col items-center">

      <canvas id="chart-canvas" width="1000" height="500" class="border rounded-box w-full max-w-[1000px] bg-gray-100"></canvas>

      <div class="p-4"></div>
      <div class="border rounded-box w-full h-[50vw] relative">
        <div class="absolute px-8 py-2 border-r border-b rounded-br-xl">
          Square Inc. Factory Live Cam
          <span class="absolute top-2 right-2 w-2 h-2 bg-green-400 rounded-full animate-ping [animation-duration:2s]"
            style="animation-duration:2s"></span>
        </div>
        <canvas id="game-canvas" width="1000" height="1000" class="border rounded-box w-full h-[50vw]"></canvas>
      </div>
    </div>
  </div>
</div>

<script>
  let chartCanvas = document.getElementById("chart-canvas");
  let chartContext = chartCanvas.getContext("2d");
  chartContext.imageSmoothingEnabled = false;

  let cycleChartData = [];

  function getCycleChartData () {
    fetch("{% url 'get-cycle' %}")
      .then((response) => {
        console.log(response);
        return response.json();
      }
      ).then((data) => {
        console.log(data);
        cycleChartData.push(data.money);
        chartContext.clearRect(0,0,chartCanvas.width,chartCanvas.height); 
        let i = 50;
        let maxVal = Math.max(...cycleChartData)
        let firstDone = false;
        cycleChartData.forEach((value)=>{
          yVal = 500 - (400 * value / maxVal);
          if (!firstDone) {
            chartContext.moveTo(i,yVal);
            firstDone = true;
          } else {
            chartContext.lineTo(i,yVal);
          }
          console.log(i, yVal);
          i += 900 / (cycleChartData.length - 1);
        })
        
        chartContext.stroke();
      }).catch((error)=> {
        console.log(error);
      }
      );
  }

  getCycleChartData();

  setInterval(getCycleChartData, 5000);

  function resizeChartCanvas() {
    chartCanvas.width = window.innerWidth;
    chartCanvas.height = window.innerWidth / 2;
  }

  window.addEventListener('load', resizeChartCanvas);
  window.addEventListener('resize', resizeChartCanvas);


</script>

<script>
  let cycleData = null;

  function getCycleData () {
    fetch("{% url 'get-cycle' %}")
      .then((response) => {
        console.log(response);
        return response.json();
      }
      ).then((data) => {
        console.log(data);
        cycleData = data;
        cycleData = [
          parseFloat(data.processes.purchasing),
          parseFloat(data.processes.manufacturing),
          parseFloat(data.processes.assembly),
          parseFloat(data.processes.packing),
          parseFloat(data.processes.warehouse),
          parseFloat(data.processes.shipping),
        ];
        console.log(cycleData);
      }).catch((error)=> {
        console.log(error);
      }
      );
  }

  getCycleData();

  setInterval(getCycleData, 5000);

  function resizeCanvas() {
    canvas.width = window.innerWidth;
    canvas.height = window.innerWidth / 2;
  }

  window.addEventListener('load', resizeCanvas);
  window.addEventListener('resize', resizeCanvas);

  // converybelt components: factory, component

  let purchasingAnimation = loadAnimation(
    [
      "{% static 'images/purchasing1.svg' %}",
      "{% static 'images/purchasing2.svg' %}",
    ]
  );

  let manufacturingAnimation = loadAnimation(
    [
      "{% static 'images/manufacturing1.svg' %}",
      "{% static 'images/manufacturing2.svg' %}",
    ]
  );

  let assemblyAnimation = loadAnimation(
    [
      "{% static 'images/assembly1.svg' %}",
      "{% static 'images/assembly2.svg' %}",
    ]
  );

  let packagingAnimation = loadAnimation(
    [
      "{% static 'images/packaging1.svg' %}",
      // "{% static 'images/packaging2.svg' %}",
      "{% static 'images/packaging3.svg' %}",
      "{% static 'images/packaging4.svg' %}",
      // "{% static 'images/packaging5.svg' %}",
      "{% static 'images/packaging6.svg' %}",
    ]
  );

  let warehouseAnimation = loadAnimation(
    [
      "{% static 'images/warehouse1.svg' %}",
      "{% static 'images/warehouse2.svg' %}",
      "{% static 'images/warehouse3.svg' %}",
      "{% static 'images/warehouse4.svg' %}",
    ]
  );

  let shippingAnimation = loadAnimation(
    [
      "{% static 'images/shipping1.svg' %}",
      "{% static 'images/shipping2.svg' %}",
      "{% static 'images/shipping3.svg' %}",
      "{% static 'images/shipping4.svg' %}",
    ]
  );

  let xMarkAnimation = loadAnimation(
    [
      "{% static 'images/x-mark.svg' %}",
    ]
  );

  let checkMarkAnimation = loadAnimation(
    [
      "{% static 'images/check-mark1.svg' %}",
      "{% static 'images/check-mark2.svg' %}",
    ]
  );

  let canvas = document.getElementById("game-canvas");
  let context = canvas.getContext("2d");
  context.imageSmoothingEnabled = false;
  let endCycleTime = 1000;
  let currCycleTime = 0;
  let prevTime = 0;
  let framePosition = 0;

  let conveyerBeltPosition = 50;

  function animate(timestamp) {
    currCycleTime += timestamp - prevTime;
    prevTime = timestamp;

    if (!currCycleTime) {
      currCycleTime = 0;
    }

    if (currCycleTime < endCycleTime) {
      requestAnimationFrame(animate);
      return;
    } else {
      currCycleTime = currCycleTime % endCycleTime;
      conveyerBeltPosition = (conveyerBeltPosition + 50) % 100;
      framePosition++;
    }
    //early return if not usual time from top

    context.clearRect(0, 0, canvas.width, canvas.height);

    // context.font = "40px Arial";
    // context.fillText("Factory Live Cam", 30, 60);
    drawConveyorBelt(200);

    requestAnimationFrame(animate);
  }

  animate();

  function drawConveyorBelt(y) {
    drawFactory();
  }

  function drawFactory() {
    let i = 50;
    let step = 120;
    let size = 80;
    [purchasingAnimation, manufacturingAnimation, assemblyAnimation, packagingAnimation, warehouseAnimation, shippingAnimation].forEach((animation) => {
      if (!animation[framePosition % animation.length].complete) {
        return;
      }
      context.drawImage(animation[framePosition % animation.length], i, 200, size, size);
      i += step;
    })
    i = 50;
    step = 120;
    size = 40;
    cycleData.forEach((value) => {
      let animation = value >= 1 ? checkMarkAnimation : xMarkAnimation;
      if (!animation[framePosition % animation.length].complete) {
        return;
      }
      context.drawImage(animation[framePosition % animation.length], i, 100, size, size);
      i += step;
    })
  }

  function loadAnimation(srcList) {
    imageList = [];
    srcList.forEach((src) => {
      let newImage = new Image();
      newImage.src = src;
      imageList.push(newImage);
    });
    return imageList;
  }

</script>

{% endblock %}